body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  color: #333;
}

.number-input {
  padding: 10px;
  margin-top: 10px;
}

.submit-btn {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

.warning {
  color: #e74c3c;
}

.suggestion {
  color: #3498db;
  font-weight: bold;
}

.additional-suggestion {
  color: #e67e22;
}

.attempt-span {
  font-weight: bold;
  color: #2c3e50;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}

input[type="number"] {
  padding: 8px;
  margin-top: 5px;
}

.restart {
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
